basePath: /
definitions:
  handler.LoginRequest:
    properties:
      password:
        type: string
      username:
        type: string
    type: object
  handler.LoginResponse:
    properties:
      email:
        type: string
      message:
        example: Login successful
        type: string
      username:
        example: admin
        type: string
    type: object
host: localhost:8080
info:
  contact: {}
  description: User authentication and session management
  title: Mainframe API
  version: "1.0"
paths:
  /api/auth/login:
    post:
      consumes:
      - application/json
      description: Authenticate user credentials
      parameters:
      - description: Login credentials
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/handler.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/handler.LoginResponse'
      summary: Login user
      tags:
      - auth
swagger: "2.0"
